.export {
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    border-style: solid;
    margin-top: 5px;
    padding: 5px 0;
    width: 100%;
    font-family: 'gloriola_stdbold', "sans-serif", 'Courier', 'Arial' !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
    color: #337ab7 !important;

}

.menuButton a.csv {
    background: url(../images/skin/csv.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}

.menuButton a.excel {
    background: url(../images/skin/excel.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}

.menuButton a.pdf {
    background: url(../images/skin/pdf.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}

.menuButton a.xml {
    background: url(../images/skin/xml.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}

.menuButton a.rtf {
    background: url(../images/skin/rtf.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}

.menuButton a.ods {
    background: url(../images/skin/ods.png) center left no-repeat;
    color: #337ab7;
    padding-left: 25px;
    background-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 5px !important;
}